<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Embedding jsreport</h1>

    <p>
       This is the prototype for jsreport end user customization feature. You can go through five scenarios that came to my mind
       jsreport could support.
    </p>
    <p>
        Source code for jsreport fork - <a href="https://github.com/pofider/jsreport/tree/embedding">https://github.com/pofider/jsreport/tree/embedding</a>
        <br/>
        Source code for example - <a href="https://github.com/pofider/jsreport-embedding">https://github.com/pofider/jsreport-embedding</a>
        <br/>
        Issue and discussion - <a href="https://github.com/jsreport/jsreport/issues/20">https://github.com/jsreport/jsreport/issues/20</a>
    </p>

    <ol>
        <li><a href="example1">Customization with input data</a></li>
        <li><a href="example2">Customization with loading data via script</a></li>
        <li><a href="example3">Client side html widgets</a></li>
        <li><a href="example4">Report script authentication using cookie</a></li>
        <li><a href="example5">Restricting access to the report templates</a></li>
    </ol>
</div>

</body>
</html>